# Build artifacts
*.o
*.ko
*.obj
*.elf
*.skel.h
test_bpf

# Libraries and Shared Objects
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug and Dependency files
*.d
*.dSYM/
*.su
*.idb
*.pdb
*.dwo

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Development Environment
.vagrant/
.vscode/
.idea/
*.swp
*~
ebpfdivert-cli
tracelog.txt
test_integration
